@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner {
  background: rgb(66, 66, 66);
  padding: 1.5rem;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 3px;
}

.banner h1, h3 {
  margin-left: 40px;
}